a {
	text-decoration: none;
	color: #000000;
}

html {
	min-height: 100%;
	bottom: 0;
}

body {
	width: 100%;
	margin: auto;
	min-height: 100%;
	background: -webkit-linear-gradient(#71c6ee, #289bc4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#71c6ee, #289bc4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#71c6ee, #289bc4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#71c6ee, #289bc4); /* Standard syntax */
}

#body-wrapper {
	width: 60em;
	margin: auto;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 30px 10px #616161;
	-moz-box-shadow: 0 0 30px 10px #616161;
}

header p {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

.site-title {
	clear: both;
}

#title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#subtitle {
	margin-top: 0px;
}

#info-navbar {
	float: left;
	margin-top: -5em;
	margin-left: -2em;	
}

#info-navbar ul {
	list-style: none;
}

#info-navbar li {
	display: inline-block;
	position: relative;
	padding: 0em 1em 0em 1em;
	font-family: Verdana, Geneva, sans-serif;
	opacity: 0.5;
	cursor: pointer;
}

#social {
	float: right;
	margin-top: -5em;
	margin-right: 1em;
}

#social-captions {
	float: right;
	font: italic 0.8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: white;
	text-align: center;
	opacity: 0.6;
	margin-top: -2.58em;
	margin-right: 1.75em;
	border-radius: 5px;
	background-color: black;
}

.vert-center {
	position: relative;
	top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
}

.disappear {
	display: none;
}

#arrs {
	color: black;
	float: right;
	margin-top: -3.065em;
	opacity:  0.6;
}

#twitter {
	height: 25px;
	width: 100px;
}

#twitter-arr {
	margin-right: 6.45em;
}

#youtube {
	height: 25px;
	width: 100px;
}

#youtube-arr {
	margin-right: 4em;
}

#insta {
	height: 25px;
	width: 200px;
}

#insta-arr {
	margin-right: 1.5em;
}

.main-nav {
	min-height: 3.5em;
}

div.navigation {
	text-align: center;
	float: left;
	padding-top: 0.1em;
	display: block;
}

div.navigation a {
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	cursor: pointer;
	margin: .5em;
	padding: 0.5em
}

div.navigation a:first-child {
	margin-left: 5em;
}

div.navigation a:hover {
	text-decoration: none;
	background-color: #c2c2c2;
}

/*START SEARCH BAR*/

	#tfheader{
		float: right;
	}
	#tfnewsearch{
		float:right;
		padding: 15px 3em 0px 0px;
	}
	.tftextinput{
		margin: 0 -5px 0 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	textarea:focus, input:focus{
	    outline: 0;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox*/ 
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
	
/*END SEARCH BAR*/

#article {
	width: 70%;
	display: inline-block;
	padding-left: 1em;
}

#bottom-nav {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px solid #b8b8b8;
	border-top: 1px solid #b8b8b8;
	width: 70%;
	opacity: 1;
}

#diversions {
	float: right;
	position: fixed;
	max-width: 230px;
	display: inline-block;
	margin-left: 1%;
}

#diversions .section-title {
	text-align: center;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#diversions .section {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px solid #b8b8b8;
	text-align: center;
}

#bottom-nav img {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.prev-img {
	float: right;
	padding: 1em;
	z-index: 1;
	display: inline;
}

.voices {
	position: relative;
}

/* MOBILE OPTIMIZATION */

/* IPAD OPTIMIZATION */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
	#diversions {
		width: 0;
		display: none;
	}
}

/*SMARTPHONE OPTIMIZATION*/

@media all and (max-device-width: 44em) {
	#info-navbar, #all-social, .navigation nav, .mobile-disappear, #footer, .search, #diversions header, #diversions div {
		display: none;
	}
	#diversions {
		width: 0;
	}
	body {
		width: 100%;
	}
	#body-wrapper {
		width: 100%;
		box-shadow: none;
		-moz-box-shadow: none;
		overflow-x: hidden;
	}
	#body-wrapper {
		padding-bottom: 4em;
	}
	#tfnewsearch{
		float:right;
		padding: 15px 1em 0px 0px;
	}
	#menu {
		display: block;
		padding-top: 0.3em;
	}
	#mobile-nav {
		display: none;
	}
	#tfheader{
		float: none;
	}
	#tfnewsearch {
		float: none;
		padding: 0;
	}
	.tftextinput-mobile {
		background-color: #434343;
		color: #FFF;
		margin: 0 -5px 0 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #000; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton-mobile {
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.875em;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #000;
		border: solid 1px #000; 
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#6a6a6a), to(#cbcbcb)) ;
		background: -moz-linear-gradient(top, #6a6a6a, #cbcbcb);
		background: linear-gradient(to bottom, #6a6a6a, #cbcbcb);
	}
	#bottom-nav {
		width: 92%;
	}
	#article {
		width: 100%;
	}
	.home-text {
		display: inline-block;
		padding-left: 2.5em;
	}
	.prev-img:before {
		content: "Previous Article...";
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold;
		padding: 1.5em 4em 0.75em 0;
	}
	.voices-img img {
		height: 8em;
		width: 6.5em;
	}
	#article-content {
		width: 95%;
	}
	.voices-img {
		width: 20%;
		display: inline-block;
	}
	.voices-text {
		width: 69%;
		display: inline-block;
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		float: right;
		margin-right: 1em;
		font-style: italic;
	}
	.voices {
		margin-bottom: 2em;
	}
}

@media all and (max-device-width: 44em) and (orientation: portrait) {
	.share {
		display: none;
	}
	.home-img {
		display: block;
		margin: auto;
		width: 2em;
		height: 2em;
		padding-top: 0.5em;
	}
	.home-text {
		display: none;
	}
	.prev-img {
		margin-top: -0.5em;	
	}
	.prev-img:before {
		content: "Previous";
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold;
		padding: 1.5em 1.5em 0.75em 0;
	}
	.prev-text {
		display: none;
	}
	.voices-img {
		width: 15%;
		display: inline-block;
		margin-left: -0.75em;
	}
	.voices-text {
		width: 65%;
		display: inline-block;
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		float: right;
		margin-right: 1em;
		margin-top: -0.75em;
	}
	.voices {
		display: block;
		margin-bottom: 3em;
	}
	
}

/* DESKTOP FIXES */

@media only screen and (min-width: 40em) {
	#tfnewsearch{
		float:right;
		padding: 15px 3em 0px 0px;
	}
	.slicknav_menu {
		display: none;
		visibility: hidden;
	}
	.home-text {
		display: inline-block;
		padding-left: 2em;
	}
	.voices-img img {
		height: 10em;
		width: 8em;
	}
	.voices-img {
		width: 20%;
		display: inline-block;
	}
	
	.voices-text {
		width: 79%;
		display: inline-block;
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		line-height: 150%;
		font-style: italic;
	}
}

/* END MOBILE OPTIMIZATION */

#main-content {
	clear: both;
}

#article-headline {
	font-family: Georgia, "Times New Roman", Times, serif;
}

#date {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	opacity: 0.6;
}

#article-content {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 150%;
}

.voices-text p:nth-child(2) {
	opacity: 0.5;
	font-weight: normal;
	font-style: normal;
}

#home {
	width: 49%;
	border-right: 1px solid #b8b8b8;
	display: inline-block;
}

#prev-article {
	width: 50%;
	display: inline-block;
	float: right;
}

.prev-text {
	display: inline-block;
	float: left;
	display: inline;
	width: 75%;
}

.prev-text p {
	padding-left: 1em;
	margin: 0;
}

#home:hover, #prev-article:hover {
	opacity: 0.5;
}

.section p {
	opacity: 0.5;
}

.section h3:hover {
	text-decoration: underline;
	cursor: pointer;
}

.last-child {
	border-bottom: none;
}

.tooltip {
	display:none;
	position:absolute;
	background-color:#b8b8b8;
	border-radius:5px;
	border-top-left-radius: 0;
	padding:5px;
	color: black;
	font-size:12px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	opacity: 0.6;
	z-index: 1;
	margin-top: -18.5em;
	margin-left: 2px;
}

#slidehow-title {
	margin-left: 20%;
	margin-right: 20%;
}

#slideshow {
	margin-left: 8%;
	margin-top: 1em;
}

.site-separater {
	padding-top: 1em;
	border-bottom: 2px solid #b8b8b8;
	width: 95%;
	margin: auto;
}

#below-breaking {
	padding-top: 2em;
}

.no-padding {
	padding-top: 0;
}

#some-padding {
	padding-top: 1em;
}

.site-footer {
	clear: both;
	text-align: center;
	padding: 0.5em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #535353;
	font-size: 0.7em;
}

.site-footer a {
	text-decoration: underline;
	color: #535353;
}

.site-footer a:hover {
	text-decoration: none;
	font-weight: bold;
}